/* Removing default styling */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Centering the squares and coloring the background */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: darkorchid;
}

/* styling the squares */
.square {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 20%;
  border: none;
  box-shadow: 0 0 5px black;
  transition: 0.3s ease-in;
}

/* have a nice user interaction to indicate where mouse or focus is */
.square:hover,
.square:focus {
  background-color: gray;
}
